.img-reg img {
    width:100%;
    
}


.container {
    margin-top: 0px;
    padding: 10px 50px 10px 50px;
    border: 1px solid black;
 

}

.flex {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.iner-box {

    width: 50%;
    background-color: rgb(112, 19, 19);
    border: 1px solid black;
    border-radius: 2px;
   padding: 20px;
   margin-right: 20px;
}