.poster {
    display: flex;
    justify-content:space-between;
    background-color: #f0eae1;
    width: 850px;
    height: 500px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(123, 102, 54);
    padding: 20px;
}
  .inner-box{   
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: #af7158;
  }
  .circle-container{
    padding-top: 10px;    
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /* border: 1px solid #fff; */
  }
  .inner-circle{    
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    margin-top: 20px;    
    height: 100px;
    width: 100px;
    background-color: #2d4069;
    /* border: 2px solid #fff5e7; */
  }
  .inner-circle2{
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    margin-top: -20px;
    height: 100px;
    width: 100px;
    background-color: #e8ebed;
    /* border: 2px solid #fff5e7; */
    opacity: .5;
  }

  .inner-text{
    align-items: center;
    color: #fff5e7;
    width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    /* border: 1px solid #fff5e7; */
    text-align: center;
    line-height: 55px;
    
  }
  .zilla-slab-bold {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    letter-spacing: -5px;
  }