/* .outer-box {
  position: relative;
  margin: 100px auto 0 auto;
  height: 200px;
  width: 800px;
  border: 2px solid grey;
  background-color: #afafaf;
}

.blue-box-1 {
  position: relative;
  height: 50px;
  width: 200px;
  background-color: #2cabf0;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 200px;
  top: 100px;
  left: 100px;
  transition: 0.5s ease-in-out;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
}

.blue-box-pill {
  position: relative;
  background-color: #ffec5d;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 200px;
  transition: 0.5s ease-in-out;
}
.blue-box-1:hover .blue-box-pill {
  background-color: #e2e2e2;
  transform: translate(150px, 0px);
}
.blue-box-1:hover {
  cursor: pointer;
  background-color: #cc0000;
}
.yellow-box-2 {
  position: absolute;
  top: 0px;
  left: 550px;
  height: 100px;
  width: 100px;
  border: 2px solid rgb(4, 104, 186);
  background-color: #efd43b;
  transition: 0.2s ease-out;
}
.yellow-box-2:hover {
  background-color: #f70000;
  cursor: pointer;
  opacity: 0;
}
.eq-container{
  top:100px;
  width: 90%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(82, 82, 82);
  padding: 10px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #9b9b9b;
}
.red-box-bar {
  top: 220px;
  left: 100px;  
  background-color: #3b3b3b;
  height: 100px;
  width: 20px;
  border-radius: 20px;
  margin-left: 0px;
}

.red-box-pill {
  top: 0px;
  left: 0px;
  position: relative;
  background-color: #e43205;
  height: 30px;
  width: 20px;
  border-radius: 200px;
  transition: 0.3s ease-out;
}
.red-box-bar:hover {
  cursor: pointer;
}
.red-box-bar:hover .red-box-pill {
  transform: translate(0px, -70px);
} */

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 420px;
  left: 100px;
  background-color: #3b3b3b;
  height: 40px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  margin-top: 50px;
  margin-left: 0px;
}
.menu-item {
  background-color: #979797;
  height: 35px;
  width: 100px;
  border-radius: 15px;
  margin: 5px;
  transition: 0.3s ease-out;
  text-align: center;
  padding-top: 15px;
}

.menu-item:hover {
  cursor: pointer;
  background-color: white;
  /* transform: translate(0px, 10px); */
  /* border-radius: 15px 15px 0 0; */
}
.menu-icon{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: #979797;
  top:10;
  right: 0;
}
.menu-icon .top-bar,.middle-bar,.bottom-bar{
  position: relative;
  height: 4px;
  width: 30px;
  background-color: rgb(58, 58, 58);
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  border-radius: 10px;
}

.menu-icon:hover .menu-container{
cursor: pointer;
}

@media only screen and (max-width: 830px) {
  body {
    .menu-container {
      overflow: hidden;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 500px) {
  body {
    .menu-container {
      
      flex-direction: column;
    }
  }
}
